# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

test.db
demo.ll
llgo_autogen*.ll
stories*.bin
.DS_Store
err.log
numpy.txt

_go/
_runtime/
_tinygo/
_output/
build.dir/
.vscode/
.devcontainer

*.cfg
*.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.swp

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work*

# GoReleaser
.dist/
.sysroot/
