services:
  llgo-dev-amd64:
    build:
      context: .
      dockerfile: dev/Dockerfile.dev
      target: pydeps
    platform: linux/amd64
    working_dir: /repo
    environment:
      LLGO_ROOT: /repo
      LLGO_FULL_RPATH: "true"
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /root/.cache/go-build
      PIP_CACHE_DIR: /root/.cache/pip
      PKG_CONFIG_PATH: /opt/llgo-assets/cargs/lib/pkgconfig
      LLGO_ASSETS_DIR: /opt/llgo-assets
    volumes:
      - .:/repo:delegated
      - go_mod_amd64:/go/pkg/mod
      - go_cache_amd64:/root/.cache/go-build
      - pip_cache_amd64:/root/.cache/pip
    tty: true
    stdin_open: true
    command: ["bash"]

  llgo-dev-arm64:
    build:
      context: .
      dockerfile: dev/Dockerfile.dev
      target: base
    platform: linux/arm64
    working_dir: /repo
    environment:
      LLGO_ROOT: /repo
      LLGO_FULL_RPATH: "true"
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /root/.cache/go-build
      PIP_CACHE_DIR: /root/.cache/pip
      PKG_CONFIG_PATH: /opt/llgo-assets/cargs/lib/pkgconfig
      LLGO_ASSETS_DIR: /opt/llgo-assets
    volumes:
      - .:/repo:delegated
      - go_mod_arm64:/go/pkg/mod
      - go_cache_arm64:/root/.cache/go-build
      - pip_cache_arm64:/root/.cache/pip
    tty: true
    stdin_open: true
    command: ["bash"]

  llgo-dev-i386:
    build:
      context: .
      dockerfile: dev/Dockerfile.dev
      target: base
      args:
        BASE_IMAGE: i386/debian:bookworm
    platform: linux/386
    working_dir: /repo
    environment:
      LLGO_ROOT: /repo
      LLGO_FULL_RPATH: "true"
      GOMODCACHE: /go/pkg/mod
      GOCACHE: /root/.cache/go-build
      PIP_CACHE_DIR: /root/.cache/pip
      PKG_CONFIG_PATH: /opt/llgo-assets/cargs/lib/pkgconfig
      LLGO_ASSETS_DIR: /opt/llgo-assets
    volumes:
      - .:/repo:delegated
      - go_mod_i386:/go/pkg/mod
      - go_cache_i386:/root/.cache/go-build
      - pip_cache_i386:/root/.cache/pip
    tty: true
    stdin_open: true
    command: ["bash"]

volumes:
  go_mod_amd64: {}
  go_cache_amd64: {}
  pip_cache_amd64: {}
  go_mod_arm64: {}
  go_cache_arm64: {}
  pip_cache_arm64: {}
  go_mod_i386: {}
  go_cache_i386: {}
  pip_cache_i386: {}
