name: Format Check

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: ./.github/actions/setup-go
        with:
          go-version: "1.24.2"

      - name: Check formatting
        run: |
          for dir in . runtime; do
            pushd $dir
            if [ -n "$(go fmt ./... | grep -v xgo_autogen.go)" ]; then
              echo "Some files are not properly formatted. Please run 'go fmt ./...'"
              exit 1
            fi
            popd
          done
          echo "All files are properly formatted."
